# *
# !packages/config
# !packages/database

# # Common Keep
# !*.json
# !*.yaml
# !pnpm-lock.yaml

# **/.circleci
# **/.editorconfig
# **/.dockerignore
# **/.git
# **/.DS_Store
# **/.vscode
# **/node_modules
# *.hdf5

apps
dist
.turbo
node_modules
**/node_modules

# *
# !pnpm-lock.yaml
# !package.json
# !tsconfig.json
# !pnpm-workspace.yaml
# !turbo.json
# !packages/database/**/*
# !packages/core/**/*
# !packages/config/**/*
# !packages/env/**/*